<div id="all">
    <div class="row row-m">
        <div class="container card">
            <div class="card" id="title">
            <br>Exports disponibles     
            </div>

            <div class="btn-group btn-group-vertical" data-toggle="buttons" id="button-export">
                <label class="btn btn-primary active">
                        <input type="radio" name="options">{{ varExport1 }} - {{ today | date: 'dd/MM/yyyy'}}
                </label>
                <label class="btn btn-primary">
                        <input type="radio" name="options">{{ varExport2 }}
                </label>
                <label class="btn btn-primary">
                        <input type="radio" name="options">{{ varExport3 }}
                </label>
                <label class="btn btn-primary">
                        <input type="radio" name="options">{{ varExport4 }}
                </label>
                <label class="btn btn-primary">
                        <input type="radio" name="options">{{ varExport5 }}
                </label>
                <label class="btn btn-primary">
                        <input type="radio" name="options">{{ varExport6 }}
                </label>
            </div>

            <div id="checklicence">
                
                <label for="licence">Acceptez la licence</label>
                <input type="checkbox" class="form-control" id="licence" (click)="follow()" formControlName="licence" ngModel required/>
                <!-- <div *ngIf="licence.invalid && (licence.dirty || licence.touched)" class="alert alert-danger">
                        <div *ngIf="licence.errors.required">Must check the licence.</div>
                </div> -->
            </div>

            <div id="readlicence">
            <button type="button" class="btn btn-outline-info btn-sm pull-right" data-toggle="modal" data-target="#licenceModal" data-backdrop="false">Lire la licence</button>

            <!-- Modal Licence -->
            <div class="modal fade" id="licenceModal" role="dialog">
                <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content">
                        <div class="modal-body">
                                <div style="text-align: center;">
                                        <object data="./licence.pdf" width="100%" height="100%" type='application/pdf'>
                                        <p>Le pdf ne s'affiche pas ... </p>
                                        <a href="./licence.pdf" target="_blank">Si le pdf ne s'affiche pas, cliquez ici</a>
                                        </object>
                                </div>
                        </div>
                        <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                        </div>
                        </div>
                </div>
            </div>
        </div>
        </div>
    </div>

    <div class="container card">

        <div id="choice"> 
                <button type="submit" id="AccueilButton" class="btn btn-danger">Annuler</button>     
                <button [disabled]="!buttonDisabled" type="submit" id="AccueilButton" class="btn btn-success" data-toggle="modal" data-target="#myModal" data-backdrop="false" ng-model="ddl" ng-required="licence"> Télécharger </button>
        </div>

        <!-- Modal Téléchargement -->
        <div class="modal fade" id="myModal" role="dialog">
          <div class="modal-dialog">
          
            <!-- Modal content-->
            <form class="modal-content">

                        <div class="modal-body">
                        
                                <p>Pour continuer le téléchargement:</p>
                                <ul> <li> Choisir un format </li> </ul>
                                <select class=form-control>
                                        <option value=zero>---</option>
                                        <option value=un>RDF</option>
                                        <option value=deux>Json</option>
                                </select>
                                <br>
                                <ul> <li> Choisir un standard </li> </ul>
                                <select class=form-control>
                                        <option value=zero>---</option>
                                        <option value=un>Darwin Core</option>
                                        <option value=deux>ABCD Schema</option>
                                        <option value=trois>EML</option>
                                </select>
                                <br>

                                <hr width="50%">
                                <div id="mailText">Saisir une adresse mail valide:</div>
                                <br>

                                <input id="adresseMail" type="email" placeholder="---" style="display:block; margin:auto;" email="true">
                                <br><br>
                                
                                <div class="progress" *ngIf="barHide">
                                        <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                                                <span class="sr-only">70% effectué (success)</span>
                                        </div>
                                </div> 
                                <br>
                                        
                        </div>

                        <div class="modal-footer" id="choicePopup">
                                <button id="widthButton" type="submit" class="btn btn-success" (click)="showme()">OK</button>
                                <button type="submit" class="btn btn-danger" data-dismiss="modal" (click)="resetModal()" >Fermer</button>
                        </div>
             </form>
            
          </div>
        </div>

      </div>
</div>