#title {
    background-color: rgba(233, 233, 233, 0.500) !important;
    line-height: 35px;
    margin-left:5px;
    margin-top: 5px;
    margin-right: 5px;
  }

#choice {
    background-color: rgb(255, 255, 255) !important;
    line-height: 100px;
    margin-left:5px;
    margin-top: 5px;
    padding-bottom: 5px;
    margin-right: 5px;

  }

  #button {
    line-height: 15px;
    left:5px;
    margin-top: 5px;
    padding-bottom: 5px;
    align-self: center;
    padding-left: 5px;
    padding-right: 5px;
  }

  #comment {
    background-color: rgba(4, 255, 79, 0.137) !important;
    width: 700px;
    line-height: 15px;
    left:5px;
    margin-top: 5px;
    padding-bottom: 5px;
    align-self: center;
    padding-left: 5px;
    padding-right: 5px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  }