<div class="card" id="title" align="center"> Choix de validation </div>

<div class="card" id="choice" align="center"> Sélectionner : 
    
    <form>
        <div class='form-inline'>
            <input name="radioValidate" id="Certain" type="radio" class="col-xs-1 col-sm-1 col-md-1 col-lg-1 padding-xs"><label for="Certain">Certain-très probable</label>
            <input name="radioValidate" id="Probable" type="radio" class="col-xs-1 col-sm-1 col-md-1 col-lg-1 padding-xs"><label for="Probable">Probable</label>
            <input name="radioValidate" id="Douteux" type="radio" class="col-xs-1 col-sm-1 col-md-1 col-lg-1 padding-xs"><label for="Douteux">Douteux</label>
            <input name="radioValidate" id="Invalide" type="radio" class="col-xs-1 col-sm-1 col-md-1 col-lg-1 padding-xs"><label for="Invalide">Invalide</label>
            <input name="radioValidate" id="NR" type="radio" class="col-xs-1 col-sm-1 col-md-1 col-lg-1 padding-xs"><label for="NR">Non réalisable</label>
            <input name="radioValidate" id="NE" type="radio" class="col-xs-1 col-sm-1 col-md-1 col-lg-1 padding-xs"><label for="NE">Non évalué</label>
        </div>

        <p><input type="text" class="form-control" name="comment" id="comment" placeholder="Ajouter un commentaire..."/></p>

    </form>

    <div class='form-inline' align="center" id="button" style="margin-top: 30px;">
        <div style="margin-right: 10px;"> 
            <input type="button" class="btn btn-success center" value="VALIDER">
        </div>

        <div style="margin-left: 10px;">
            <input type="button" class="btn btn-danger center" value="ANNULER">
        </div>
    </div>

</div>